{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
</style>
<body>

<div class="edit-container">
  <h2>Reset Password</h2>

  <label>New Password:</label>
  <input type="password" id="newPassword" placeholder="Enter new password">

  <label>Confirm Password:</label>
  <input type="password" id="confirmPassword" placeholder="Confirm new password">

  <div class="buttons">
    <button id="resetPasswordBtn">Save Password</button>
    <button id="backBtn">Back</button>
  </div>
</div>

<script>
const baseUrl = "https://user-management-system-pr7y.onrender.com/api";
const token = localStorage.getItem('access');

$('#resetPasswordBtn').click(function(){
    const password = $('#newPassword').val();
    if(!password){
        alert("Enter new password!");
        return;
    }

    $.ajax({
        url: `${baseUrl}/api/reset-password/`,
        method: 'PUT',
        headers: { 'Authorization': 'Bearer ' + token },
        contentType: 'application/json',
        data: JSON.stringify({ password: password }),
        success: function(res){
            alert(res.message);
            localStorage.removeItem('access');
            localStorage.removeItem('refresh');
            window.location.href = `${baseUrl}/login-page/`;
        },
        error: function(err){
            console.log(err);
            alert("Failed to reset password.");
        }
    });
});

$('#backBtn').click(function() {
    window.location.href = `${baseUrl}/edit-profile/`;
});
</script>
</body>
</html>
